@import '../styles/colors.scss';
@import '../styles/basics.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid $dark-grey;
  border-radius: 1rem;

  .information {
    margin-bottom: 1rem;
    .name {
      margin-bottom: 1rem;
      font-size: 2rem;
    }

    .size {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    .price {
      font-size: 1.5rem;
    }
  }
  .btn {
    @extend %btn;
  }
}
