@import '../styles/colors.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $grey;
  padding: 2rem 10%;

  .brand {
    font-size: 2rem;
    color: $almost-white;
  }

  .nav-container {
    display: flex;
    align-items: center;

    .list {
      display: flex;
      align-items: center;
      margin-right: 5rem;

      .item {
        margin-left: 1.5rem;
        font-size: 1.5rem;
        color: $almost-white;

        &:hover {
          color: $dark-blue;
        }
      }
    }
  }
}
